
.List table caption {
  text-align: left;
  padding: 5px;
}


.List table {
    border-collapse: collapse;
    border-style: hidden;
}

.List table td, table th {
    border: 1px solid black;
    padding: 6px;
}

.List table tr.ListSelected {
    border: 1px solid red;
    padding: 10px;
}

td.ListSelected {
  background-color: pink;
}
